@use 'base/variables' as *;
@use 'base/colors';
@use 'base/typography';
@use 'layout/spacing';
@use 'layout/flex';


.container-fluid {
    background-image: url('images/pexels-danny-meneses-943096.jpg');
    background-size: cover;
}

.customBtn {
    border-radius: 40px;
}