@use 'variables.scss' as *;

body {
    color: $main-font-clr;
}

h1 span {
    color: $my-purple;
}

p {
    color: rgba($color: #FFFFFF, $alpha: .6);
}

i {
    @extend p;
}

div.menu {
    background-color: #F5F5F5;

    font-size: 1.5rem;
    font-weight: bold;
    // a {
    //     color: #29313E;
    // }
}


.customBtn {
    background-color: $my-purple;
    border: $my-purple;
}

// .offer {
//     color: $my-purple;
// }